@model PeopleProTraining.Dal.Models.Building

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Building</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseTime)
        </dd>

        <dt>
            Departments
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        Department Name
                    </th>
                    <th>
                        # Employees
                    </th>
                </tr>

                @foreach (var item in Model.Departments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employees.Count)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BuildingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
